<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn !== null" class="nav-item"><a class="nav-link" routerLink="clients">Clients</a></li>
      <li *ngIf="isLoggedIn !== null" class="nav-item"><a class="nav-link" routerLink="map">Maps</a></li>
      <li *ngIf="isLoggedIn !== null" class="nav-item"><a class="nav-link" routerLink="charts">Charts</a></li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="" (click)="handleAuth()">{{isLoggedIn ? 'Log out' : 'Login'}}</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

