.topnav {
  background-color: #f96c00;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial;
}

.topnav a:hover {
  background-color: #b24d00;
  color: white;
}

.topnav a.active {
  background-color: #f96c00;
  color: white;
}
