<div class="card" style=" margin: 15px">
  <div class="card-body">
    <h5 class="card-title">Product details</h5>
    Name:  <p>{{client.name}}</p>
    Email:  <p>{{client.email}}</p>
    Address:  <p>{{client.address.street}} {{client.address.houseNumber}}, {{client.address.postalCode}} {{client.address.city}}, {{client.address.country.countryName}}</p>
    Priority:  <p>{{client.priority}}</p>
    Apply Date:  <p>{{client.applyDate | date:'longDate'}}</p>
    Notes:  <p>{{client.notes}}</p>
    <button type="button" class="btn btn-danger" (click)="deleteClient(client.id)" style="margin: 15px">Delete</button>
    <button type="button" class="btn btn-dark" routerLink="/edit/{{client.id}}">Edit</button>  </div>
</div>
